/* GENERAL ------------------------------------------- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #707070;
    background: #141922;
    height: 100vh;
}
h1{
    color: #fff;
    font-size:24px;
}
h2{
    font-size: 14px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #7d7f84;
}
li{
list-style: none;
}


/*
 UTILITIES ----------------------------------------- */
.flex{
    display: flex;
}

.relative{
    position: relative;
}

/* Background colors */
.bg-aside{
    background: #000;
}
.bg-album{
    background: #141922;
}
.bg-player{
    background: #282828;
}
/* Text */
.txt-white{
    color: #fff;
}
.lightgrey{
    color:#c1c1c1;
}
.uppercase{
    text-transform: uppercase;
}

/* MAIN CONTENT ################################# */

/* ASIDE ********************************************/
.aside{
    min-width: 230px;
    height: calc(100vh - 80px);
}
/* Aside Logo ------------------------------------ */
.aside .logo{
    line-height: 90px;
}
.aside .logo img{
    margin-left: 20px;
    vertical-align: middle;
    width: 130px;
}
/* Nav ---------------------------------------------*/
.nav .menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.nav img{
    margin-left: 20px;
    width: 25px;
}
.nav li{
    padding: 5px 0;
}
.nav li a:hover{
    color: #fff;
    border-left: 3px solid #adff2f;
}
.nav span{
    margin-left: 10px;
}

/* PLAYLIST -----------------------------------------*/
.playlist{
    padding: 20px;
}
.playlist li{
    margin: 15px 0px;
}
.playlist li:last-child{
    margin-bottom:0;
}
.playlist .add{
    display: flex;
    align-items: center;
}
.playlist .add div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 35px;
    height: 35px;
    color: #000;
    background: #959595;
}
.playlist .add span{
    margin-left: 10px;
}
.playlist li a:hover{
    color: #fff;
}
.playlist li:first-child a:hover div{
    background: #fff;
}

/* LOGIN -----------------------------------------*/
.login{
    position: absolute;
    bottom: 0;
    left: 0;

}

/* ALBUM ############################################# */
.album{
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

/* Upgrade -------------------------------------------*/
.album .upgrade{
    position: absolute;
    width: 100%;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.253);
    text-align: right;
}
.album .upgrade .button {
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 40px;
    border-radius: 30px;
    min-width: 220px;
    margin-right: 10px;
    transition: .2s; /* Animation */
}
.album .upgrade .button:hover{
    font-size: 15px;
}

/* Album-content --------------------------------------- */
.album-content{
    margin-top: 90px;
    padding:20px;
}

/* Album-menu ------------------------------------------- */
.album-menu{
    display: flex;
    justify-content: center;
}
.album-content li{
    display: inline;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    padding-bottom: 5px;
}
.album-content li:last-child{
    margin-right: 0;
}
.album-content li a:hover{
    color: #fff;
    border-bottom: 1px solid #adff2f;
}

/* Album menu ----------------------------------------- */
.album-content .recently-played h1{
    margin: 30px 0;
}





/* PLAYER ########################################### */
.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.player .song-played{
    width: 240px;
    height: 50px;
    margin-left: 10px;
    background: gray;
}

.player .reproduction{
    width: 530px;
    height: 75px;
    background: gray;
}

.player .volume{
    width: 240px;
    height: 50px;
    margin-right: 10px;
    background: gray;
}


/* ##################################################### 
   MEDIA QUERY #########################################
########################################################*/
/* SMARTPHONE XS */
@media screen and (min-width: 550px){
    /* ASIDE */
    .aside-menu {
        width: 40px;
    }
}