/* #################################################
    GENERAL 
####################################################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #7d7f84;
    background: #000;
}

h1{
    color: #fff;
    font-size:1.8rem;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 1rem;
    color: #fff;
    margin: 0.8rem 0;
}
h3{
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.6rem;
}
a{
    text-decoration: none;
    color: #7d7f84;
}
li{
list-style: none;
}

/* #################################################
    UTILITIES 
####################################################*/
 .flex{
    display: flex;
}
.relative{
    position: relative;
}
.album-circle{
    border-radius: 50%;
}
/* Background colors */
.bg-aside{
    background: #000;
}
.bg-album{
    background: #141922;
}
.bg-player{
    background: #282828;
}

/* Text */
.txt-white{
    color: #fff;
}
.lightgrey{
    color:#c1c1c1;
}
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: 700;
}

/* #################################################
    MAIN CONTENT 
####################################################*/
.main-window {
    height: calc(100vh - 100px);
    display: flex;
}

.sidebar,
.content{
    overflow-y: hidden;
}

/* #################################################
    ASIDE - SIDEBAR
####################################################*/
.sidebar{
    min-width: 230px;
}

/* Hidden display of the sidebar in mobile version - active below 600px */
.sidebar-mobile-xs{
    display: none;
}

/* Sidebar-TOP  */
.sidebar-top{ 
    height: calc(100% - 100px);
    min-height: 400px; 
    overflow: auto;
} 

/* Aside LOGO */
.sidebar-top .logo{
    height: 80px;
    padding: 20px;
}
.sidebar-top .logo img{
    vertical-align: middle;
    width: 130px;
}

/* Main-Nav */
.nav .menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.nav img{
    margin-left: 20px;
    width: 25px;
}
.nav li{
    padding: 5px 0;
}
.nav li a:hover{
    color: #fff;
    border-left: 3px solid #adff2f;
}
.nav span{
    margin-left: 10px;
}

/* PLAYLIST ---------------------------------------*/
.playlist{
    padding: 20px;
}
.playlist li{
    margin: 15px 0px;
}
.playlist li:last-child{
    margin-bottom:0;
}
.playlist .add{
    display: flex;
    align-items: center;
}
.playlist .add div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 35px;
    height: 35px;
    color: #000;
    background: #959595;
}
.playlist .add span{
    margin-left: 10px;
}
.playlist li a:hover{
    color: #fff;
}
.playlist li:first-child a:hover div{
    background: #fff;
}

/* Sidebar-BOTTOM ---------------------------------- */
.sidebar-bottom{
    height: 80px;
    padding:5px 20px;
}
/* Install app */
.sidebar-bottom .install{
    padding-bottom: 10px;
    border-bottom: 1px solid #7d7f84;
}
.sidebar-bottom .install a{
    font-size: 0.8rem;
}
.sidebar-bottom .install:hover a{
    color:#fff;
}
/* User logged */
.user{
    display: flex;
    align-items: center;
    margin:10px 0;
    font-size: 14px;
}
.user .image-profile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#7d7f84;
    border: transparent;
    margin-right: 10px;
    overflow: hidden;
}


/* ###################################################
    CONTENT
#####################################################*/
.content {
    position: relative;
    flex-grow: 1;
}
/* Top-bar UPGRADE -------------------------------- */
.content-top-bar{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.content-top-bar button{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 40px;
    border-radius: 25px;
    margin-right: 15px;
    transition: 0.2s;
}
.content-top-bar button:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

/* Category  --------------------------------------- */
.content .scrollable{
    padding: 100px 15px 0 15px;
    height: 100%;
    overflow-y: auto;
}
/* Content Menu ------------------------------------- */
.content-menu{
    margin-bottom: 30px;
    text-align: center;
}
.content-menu li{
    display: inline-block;
    position: relative;
    padding: 20px 0;
    margin-right: 30px;
    transition: 0.2s;
}
.content-menu li:last-child{
    margin-right: 0;
}
.content-menu li:hover a{
    color: #fff;
    transition: 0.3s;
}
.content-menu li:hover::after{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    display: inline-block;
    width: 30px;
    border-bottom: 2px solid #adff2f;
}

/* Category ------------------------------------------- */
.content-category{
    margin-bottom: 30px;
}
.album-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 1.5rem;
    text-align: center;
}

.album-list .album{
    flex-basis: calc((100% / 6) - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.album-list .album img{
    display: block;
    width: 100%;
}

/* Overlay album ----------------------------------------*/
.album-list .album .play{
    position: relative;
}
.album-list .album .play:hover::after{
    display: inline-block;
}
.album-list .album .play:hover img{
    filter: brightness(0.5);
    transition: 0.4s;
    transform: scale(1.05);
}
.album-list .album .play:hover::after{
    content: "\f144";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    font-family: "Font Awesome 5 Free";
}



/* ######################################################
    MAIN PLAYER
#########################################################*/
.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background:#222;
}
.player .album,
.player .audio{
    flex-basis: 200px;
    margin: 0 10px
}
.player .album {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* Player left - selected album --------------------------*/
.player .album .cover-selected-album{
    display: flex;
    align-items:center;
    height:45px;
}
.player .album .cover-selected-album img{
    max-height: 100%;
    margin-right: 10px;
}

.player .album .icons{
    display: flex;
    /* flex-direction: column; */
}

.player .album .cover-selected-album h5:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
.player .album .icons i:first-child{
    margin-right: 10px;
}
.player .album .icons i:hover{
    color: #fff;
    cursor: pointer;
}

/* Player  ---------------------------------------------- */
.player .controller{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 35%;

}

/* Player control --------------- */
.player .controller .player-icons{
    display:flex;
    align-items: center;
    padding-bottom: 15px;
}
.player .controller .player-icons i{
    margin-right:20px;
    cursor: pointer;
}
.player .controller .player-icons i:hover{
    transform: scale(1.2);
}
.player .controller .player-icons i:last-child{
    margin-right:0;
}
.player .controller .player-icons .fa-play-circle{
    font-size: 1.8rem;
}

/* Player bar ---------------------- */
.player .controller .player-bar{
    display:flex;
    align-items: center;
    width: 100%;
}
.player .controller .player-bar span{
    font-size: 0.7rem;
}

/* Sound bar ---------------------------------------------- */
.player .audio{
    display: flex;
    align-items:center;
}
.player .audio i{
    margin-right: 10px;
    cursor: pointer;
}

/*************************************************************
/* Player bar & Audio bar HOVER 
**************************************************************/
.player .controller .player-bar .bar,
.player .audio .bar{ /* grey bar*/
    position: relative;
    margin: 0 5%;
    flex-grow: 1;
    height: 4px;
    background: #7d7f84;
    border-radius: 5px;
    cursor: pointer;
}
.player .controller .player-bar .bar::after,
.player .audio .bar::after{ /* shows the active bar */
    content:'';
    display:block;
    height: 4px;
    width: 40%;
    background: #fff;
    border-radius: 5px;
}
.player .controller .player-bar .bar:hover::after,
.player .audio .bar:hover::after{ /* green bar*/
    background: #adff2f;
}
.player .controller .player-bar .bar:hover::before,
.player .audio .bar:hover::before{ /*show the cursor on the bar */
    content: '';
    position: absolute;
    display: block;
    height: 0.7rem;
    width: 0.7rem;
    background: #fff;
    border-radius: 50%;
    margin-left: 38%;
    top: -3px;
}


/* ###########################################################
    MEDIA QUERY
    xs - non scendete sotto i 550px, fino a 600px incluso
    s - 601px - 767px
    m - 768px - 1199px
    l - 1200 in su
############################################################## */

/* m - 768px - 1199px */
@media screen and (max-width: 1199px){
    .album-list .album{
        flex-basis: calc((100% / 4) - 15px);
    }
}
/* s - 601px - 767px */
@media screen and (max-width: 767px){
    .album-list .album{
        flex-basis: calc((100% / 2) - 15px);
    }

    .player .album .icons{
        display: flex;
        flex-direction: column;
    }
    .player .album .icons i{
        margin-left: 20px;
    }
    .player .album .icons i:first-child{
        margin-bottom: 5px;
    }
}

/*     xs - non scendete sotto i 550px, fino a 600px incluso*/
@media screen and (max-width: 600px){
    /* slim sidebar */
    .sidebar {
        min-width: 45px;
    }

    /* hide default sidebar-top and sidebar-bottom */
    .sidebar-top,
    .sidebar-bottom{
        display: none;
    }
    .sidebar-mobile-xs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 10px;
        height: 100%;
        overflow-y: hidden;
    }
    .sidebar-mobile-xs .logo-small,
    .sidebar-mobile-xs img{
        height: 25px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .sidebar-mobile-xs .sidebar-top-xs,
    .sidebar-mobile-xs .sidebar-bottom-xs{
        text-align: center;
    }
    .sidebar-mobile-xs .sidebar-bottom-xs img{
        width: 15px;
        margin-bottom:15px
    }
    .sidebar-mobile-xs .sidebar-bottom-xs .user{
        margin:0;
    }
    .sidebar-mobile-xs .sidebar-bottom-xs .user .image-profile{
        margin-right:0;
    }
}