/* GENERAL --------------------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #707070;
    background: #141922;
    height: 100vh;
}
h1{
    color: #fff;
    font-size:24px;
}
a{
    text-decoration: none;
    color: #7d7f84;
}
li{
list-style: none;
}


/* UTILITIES ----------------------------------------------------------------------- */
.flex{
    display: flex;
}

.relative{
    position: relative;
}

/* Background colors */
.bg-aside{
    background: #000;
}
.bg-album{
    background: #141922;
}
.bg-player{
    background: #282828;
}
/* Text */
.txt-white{
    color: #fff;
}
.lightgrey{
    color:#c1c1c1;
}


/* MAIN CONTENT ######################################################################### */

/* ASIDE -----------------------------------------*/
.aside{
    width: 230px;
    height: calc(100vh - 80px);
}





/* ALBUM ----------------------------------------- */
.album{
    width: 100%;
    height: calc(100vh - 80px);
}

/* Upgrade */
.album .upgrade{
    position: absolute;
    width: 100%;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.253);
    text-align: right;
}
.album .upgrade .button {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 40px;
    border-radius: 30px;
    min-width: 220px;
    margin-right: 10px;
    transition: transform .2s; /* Animation */
}
.album .upgrade .button:hover{
    font-size: 15px;
}

/* Album-content */
.album-content{
    margin-top: 90px;
    padding:20px;
}

/* Album-menu */
.album-menu{
    display: flex;
    justify-content: center;
    
}
.album-content li{
    display: inline;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
    padding-bottom: 5px;
}
.album-content li:last-child{
    margin-right: 0;
}
.album-content li:hover{
    color: #c1c1c1;
    border-bottom: 1px solid #adff2f;
}





/* PLAYER ######################################################################### */
.player{
    width: 100%;
    height: 90px;
}



/* ####################################################################################### 
   MEDIA QUERY ###########################################################################
##########################################################################################*/
/* SMARTPHONE XS */
@media screen and (min-width: 550px and max-width:600px){
    /* ASIDE */
    .aside-menu {
        width: 40px;
    }
}